name: website
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Set Env
        run: |
          echo "CURRENT_VERSION=$(node -p 'require("./package.json").version')" >> $GITHUB_ENV
      - name: Install
        run: yarn install
      - name: Build
        run: |
          yarn install
          npm run website -- --metadataVersion="${CURRENT_VERSION}"
        env:
          CURRENT_VERSION: ${{ env.CURRENT_VERSION }}
        working-directory: example/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./example/dist